<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
    <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
                Người dùng
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a ui-sref="application_groups" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Nhóm người dùng</p>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="application_roles" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Quyền</p>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="application_users" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Người dùng</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
                Sản phẩm
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a ui-sref="product_categories" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh mục sản phẩm</p>
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="products" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sản phẩm</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link">
            <i class="nav-icon fas fa-area-chart"></i>
            <p>
                Thống kê
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a ui-sref="statistic_revenue" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Thống kê doanh số</p>
                </a>
            </li>
        </ul>
    </li>
</ul>