<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật danh mục: {{productCategory.Name}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a ui-sref="product_categories">Danh mục</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">{{productCategory.Name}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateProductCategory" role="form" ng-submit="UpdateProductCategory()">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tên danh mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="productCategory.Name" ng-change="GetSeoTitle()">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="alias" ng-model="productCategory.Alias">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-model="productCategory.Description">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select name="parentId" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Thứ tự</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="displayOrder" ng-model="productCategory.DisplayOrder">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" ng-model="productCategory.Image">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Meta Keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="metaKeyword" ng-model="productCategory.MetaKeyword">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Meta Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="metaKeyword" ng-model="productCategory.MetaDescription"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" name="status" class="form-check-input" ng-model="productCategory.Status" ng-checked="productCategory.Status">
                            <label class="form-check-label"> Kích hoạt</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="homeFlag" class="form-check-input" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag">
                            <label class="form-check-label"> Hiển thị trang chủ</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ui-sref="product_categories" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right">Lưu</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</section>
<!-- /.content -->