<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật người dùng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a ui-sref="application_users">Danh mục người dùng</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">{{account.FullName}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateAccount" role="form" ng-submit="updateAccount()">
            <div class="card-body">
                <div class="form-group row" ng-class="{ 'has-error' : frmUpdateAccount.name.$invalid && !frmUpdateAccount.name.$pristine }">
                    <label class="col-sm-2 col-form-label">Họ tên người dùng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="account.FullName" required required-message="Họ tên bắt buộc.">
                    </div>
                </div>
                <div class="form-group row" ng-class="{ 'has-error' : frmUpdateAccount.userName.$invalid && !frmUpdateAccount.userName.$pristine }">
                    <label class="col-sm-2 col-form-label">Tài khoản</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="userName" ng-model="account.userName" required required-message="Tài khoản bắt buộc.">
                    </div>
                </div>
                <div class="form-group row" ng-class="{ 'has-error' : frmUpdateAccount.password.$invalid && !frmUpdateAccount.password.$pristine }">
                    <label class="col-sm-2 col-form-label">Mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" ng-model="account.password" required required-message="Mật khẩu bắt buộc.">
                    </div>
                </div>
                <div class="form-group row" ng-class="{ 'has-error' : frmUpdateAccount.email.$invalid && !frmUpdateAccount.email.$pristine }">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" ng-model="account.email" required required-message="Email bắt buộc.">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Điện thoại</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="PhoneNumber" ng-model="role.PhoneNumber">
                    </div>
                </div>
                <div class="form-group row" ng-class="{ 'has-error' : frmUpdateAccount.BirthDay.$invalid && !frmUpdateAccount.BirthDay.$pristine }">
                    <label class="col-sm-2 col-form-label">Ngày sinh</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="BirthDay" value="{{ account.BirthDay | date: 'yyyy-MM-dd' }}"
                               ng-model="account.BirthDay" required required-message="Ngày sinh bắt buộc.">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <label ng-repeat="group in groups">
                            <input type="checkbox" checklist-model="account.Groups" checklist-value="group">&ensp;{{group.Name}}&ensp;
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ui-sref="application_users" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmUpdateAccount.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</section>
<!-- /.content -->