<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới nhóm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Người dùng</a></li>
                    <li class="breadcrumb-item"><a ui-sref="application_groups">Danh mục nhóm</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Thêm mới</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddAppGroup" role="form" ng-submit="addAppGroup()">
            <div class="card-body">
                <div class="form-group row" ng-class="{ 'has-error' : frmAddAppGroup.name.$invalid && !frmAddAppGroup.name.$pristine }">
                    <label class="col-sm-2 col-form-label">Tên nhóm</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="group.Name" required required-message="Tên nhóm bắt buộc.">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <label ng-repeat="role in roles">
                            <input type="checkbox" checklist-model="group.Roles" checklist-value="role">&ensp;{{role.Description}}&ensp;
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ui-sref="application_groups" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddAppGroup.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</section>
<!-- /.content -->